header section {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

header img {
  width: 50px;
}

header h1 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  color: #d1d0d2;
}

button {
  display: inline-block;
  font-size: 1.25rem;
  text-decoration: none;
  color: #d1d0d2;
  background: none;
  padding: 5px;
  margin: 0 25px;
  border: none;
}

button:hover {
  color: #fc0;
  cursor: pointer;
}

.shoppingCart {
  display: inline-block;
  color: #fc0;
  font-size: 3.5rem;
  padding: 5px;
  cursor: pointer;
}
